


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #54B1F1;
}

main {
    border: 1px solid;
    max-width: 90%;
    height: 100vh;
    margin: 4rem auto;
    border-radius: 20px;
    background-image: url(Assets/imgBg.jpg);
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
}

header.heading {
    height: 100px;
    background-color: #fff;
}
